:root {
  --primary_blue: rgb(37, 45, 139);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #f7f7f7f7 !important;
}

body {
  background-color: var(--primary_blue) !important;
}

li {
  list-style-type: none;
}

a {
  color: #f7f7f7f7 !important;
  text-decoration: none !important;
  font-size: x-large !important;
}

#info-table a {
  font-size: medium !important;
  text-decoration: underline !important;
}

#info-table a:hover {
  color: rgb(56, 56, 255) !important;
}

#nav-dash-container {
max-width: 25vw !important;
min-width: 15vw !important;
}

.nav-link {
  font-weight: bold !important;
  padding: 10px 16px;
  transition: all 1s ease;
  border-radius: 0px 10px 10px 0px;
  color: white;
}

.nav-link:hover,
.nav-link.active {
  color: white;
  background-image: linear-gradient(
    90deg,
    #3276c3,
    var(--primary_blue)
  );
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

thead th {
  position: sticky;
  top: 0;
  background-color: #504f4f !important;
  z-index: 1;
  text-align: start;
  box-shadow: 0 2px 6px rgba(0,0,0,0.19) !important;
}

.table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-text {
  /* max-width: 100xpx; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table::-webkit-scrollbar {
  display: none;
}

td.expanded {
  font-weight: bold;
  font-size: large;
}

#info-table {
  max-height: 240px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid white;
}

.part-num-col {
  width: 10rem !important;
  max-width: 10rem !important;
  font-size: 1.2rem;
}

.part-desc-col {
  font-size: 1.2rem;
}

.part-num-preview {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.column-name {
  font-size: 1.2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1) !important;
  z-index: 10 !important;
}

.bd-callout {
  font-weight: bold;
  font-size: larger;
  padding: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #91adcb;
  border-left-width: 0.4rem;
  border-radius: 0.5rem;
  background-color: #4389d5;

  box-shadow: 0 2px 6px rgba(0,0,0,0.19) !important;
}

.bd-callout-primary {
  border-left-color: #0051cc;
}

.accordion-body {
  background-color: rgb(61, 61, 61) !important;
}

.page-legend {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(120deg, #4a90e2, var(--primary_blue)) 1;
  border-radius: 8px;
}

.collapse-show {
  background-color: rgb(147, 147, 147);
}

.btn-primary {
  background-color: #3b64c4 !important;
  border: 1px solid rgb(176, 176, 176) !important;
  margin: 2px;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, border 0.2s ease, box-shadow ease;
}

.btn-primary:disabled {
  border: none !important;
}


.btn-primary:hover {
  background-color: var(--primary_blue) !important;
  margin: 1px;
  border: 2px solid #dddddd !important;
  color: #dddddd;
  box-shadow: inset;
}