html,
body {
  height: 100%;
  width: 100%;
  color: white !important;
}

:root {
  background-color: rgb(37, 45, 139) !important;
}

body {
  background-color: rgb(37, 45, 139) !important;
}

li {
  list-style-type: none;
}

a {
  color: white !important;
  text-decoration: none !important;
  font-size: x-large !important;
}

.nav-link {
  font-weight: bold !important;
}
.nav-link:hover,
.nav-link.active {
  background-image: linear-gradient(to right, #4389d5, rgb(37, 45, 139));
  transition: background-image 0.3s ease-in-out;
}

thead {
  border: 2px solid;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #504f4f !important;
  z-index: 1;
  text-align: start;
}

table:hover {
  overflow-y: scroll !important;
}

.table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  display: none;
}

td.expanded {
  font-weight: bold;
  font-size: large;
}

.part-num-col {
  width: 10rem !important;
  max-width: 10rem !important;
  font-size: 1.2rem;
}

.part-desc-col {
  font-size: 1.2rem;
}

.column-name {
  font-size: 1.2rem;
}

.bd-callout {
  font-weight: bold;
  font-size: larger;
  padding: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #91adcb;
  border-left-width: 0.4rem;
  border-radius: 0.5rem;
  background-color: #4389d5;
}

.bd-callout-primary {
  border-left-color: #0051cc;
}
