html, body {
    height:100%;
    width: 100%;
}

:root {
  background-color: rgb(32, 38, 106) !important;
}

body {
  background-color: rgb(32, 38, 106) !important;
}

li {
  list-style-type: none;
}

a {
  color: white  !important;
  text-decoration: none !important;
  font-size: x-large;
}

.nav-item:hover {
  background-image:
    linear-gradient(to right,  #4389d5, rgb(32, 38, 106));
}

table {
  border: 2px solid;
  border-radius: 8px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #212529;
  z-index: 1;
  text-align: start;
}




table:hover{
  overflow-y: scroll !important;
}

.table {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.table::-webkit-scrollbar {
    display: none;
}
